@font-face {
    font-family:'raleway';
    src: url(../fonts/raleway-regular.ttf);
}

@font-face {
    font-family:'raleway extra bold';
    src: url(../fonts/raleway extra bold.ttf);
}
body {
	width: 1920px;
	margin: 0 auto;
	}

.header-main-page {
	width: 100%;
	min-height: 1024px;
	background-image: url(../img/header-backgraunt.jpg);
	/*    filter: brightness(50%);*/
	background-color: rgba(17, 17, 17, 0.7);
	background-blend-mode: darken;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	box-sizing: border-box;
	/*    border: 1px solid orange;*/
	padding: 40px 150px;
}

.header-toolbar {
	box-sizing: border-box;
	/*    border: 1px solid aqua;*/
	width: 72%;
	display: flex;
	justify-content: space-between;
}

.logo {
	box-sizing: border-box;
	/*    border: 1px solid aqua;*/
}

.logo-link {
	width: 181px;
	fill: white;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-txt {
	font-family: 'raleway';
	font-size: 34px;
	letter-spacing: -1.36px;
    font-weight: 400;
    
}

.logo-link:hover,
.logo-txt:hover {
	color: #c7b299;
	fill: #c7b299;
}
.logo-link:active,
.logo-txt:active {
	color: white;
	fill: white;
}

.menu {
	display: flex;
	box-sizing: border-box;
	/*    border: 1px solid red;*/
	align-items: center;
}

.menu-link {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
	margin: 0 30px 0 0;
	display: block;
	padding: 5px 0 5px 0;
    font-family: Montserrat;
font-style: normal;
letter-spacing: normal;
line-height: normal;

}

.box {
	fill: white;
	border: none;
    outline: none;
	background-color: transparent;
	margin: 0 30px 0 30px;
}

.menu-search {
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	/*     border: 1px solid red;*/
	position: relative;
/*	transition: all 1s;*/
}
.menu-search-lable {
    display: block;
  width: 100%;
  height: 100%;
    box-sizing: border-box;
/*	     border: 1px solid red;*/
}
.menu-search-lable:hover .searh-icon{
    fill: #c7b299;
    cursor: pointer;
    
}
.menu-search-lable:active .searh-icon{
    fill: white;
}


.menu-search-pole {
  width: 0;
  min-height: 0;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -119px;
  color: #fff;
font-size: 14px;
    font-size: 14px;
	font-weight: 300;
	font-family: Montserrat;

}

.menu-search-pole:focus {
  width: 150px;
  min-height: 24px;
  transition: width 1s ease;
  border: 1px solid #fff;
}
.searh-icon {
	fill: white;
	width: 100%;
    height: 100%;
}


.menu-link:hover,
.box:hover {
	color: #c7b299;
	fill: #c7b299;
	cursor: pointer;
}
.menu-link:active,
.box:active {
	fill: white;
	cursor: pointer;
    color: white;
}
.header-carusel {
	width: 100%;
	box-sizing: border-box;
	/*    border: 1px solid orange;*/
	display: flex;
	justify-content: space-between;
}

.header-carusel-button {
	fill: white;
	background-color: transparent;
	border: none;
	opacity: 0.5;
    outline: none;
}

.header-carusel-button:hover {
	fill: #d3c1ad;
	cursor: pointer;
}
.header-carusel-button:active {
	fill: white;
}

.header-carusel-content {
	box-sizing: border-box;
	/*    border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-carusel-content-txt1 {
	color: #ffffff;
	font-family:'raleway';
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	display: block;
	margin: 0 0 10px 0;
   }

.header-carusel-content-txt2 {
	display: block;
	color: #ffffff;
    font-family:'raleway extra bold';
	font-size: 52px;
	font-weight: 400;
	text-align: center;

}

.header-carusel-content-txt3 {
	display: block;
	width: 562px;
	color: #ffffff;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
	margin: 15px 0 52px 0;
	box-sizing: border-box;
}

.header-carusel-button-link {
	display: block;
	color: white;
	text-decoration: none;
	width: 170px;
	box-shadow: inset 0 -3px 0 #736357;
	border-radius: 3px;
	background-color: #998675;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0 15px 0;
}

.header-carusel-button-link-txt {
	font-family:'raleway extra bold';
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
}

.header-carusel-button-link:hover {
	background-color: white;
	color: #998675;
}

.header-carusel-button-link:active {
	background-color: #998675;
	color: #fff;
}

.pagination {
	width: 100%;
	box-sizing: border-box;
	/*    border: 1px solid orange;*/
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.pagination-link {
	display: block;
	width: 11px;
	height: 11px;
	background-color: #ffffff;
	opacity: 0.5;
	border-radius: 50%;
	margin: 0 10px 0 0;
	border: 2px solid transparent;
}

.pagination-link:hover {
	background-color: transparent;
	border: 2px solid #d3c1ad;
	transform: scale(1.2);
}
.pagination-link:active {
	background-color: #ffffff;
}